body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 30px 50px;
}

.btn {
  background-color: #d95323;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.nav-top ul {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
  padding: 0;
}

.nav-top a {
  background-color: #ddd;
  color: #333;
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.nav-top a:hover {
  background-color: #333;
  color: #fff;
}

.top {
  min-height: 500px;
  background: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.top-header {
  background-color: #333;
  opacity: 0.7;
  margin-left: 600px;
  height: 450px;
  padding: 1.5rem;
}

.top-header h1 {
  font-size: 4rem;
  margin-top: 0rem;
  margin-bottom: 0;
}

.top-header p {
  font-size: 1.3rem;
}

.top-header a {
  margin-top: 12rem;
  width: 100px;
  text-align: center;
}

.boxes-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxes-top-single {
  background-color: #ddd;
  width: 29%;
  padding: 1rem 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.boxes-top-single .price {
  margin-top: 0;
  font-size: 1.5rem;
}

.middle {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.middle-box {
  background-color: #ddd;
  text-align: center;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.bottom {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  background-color: #ddd;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

footer {
  background-color: #333;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */