.about {
  background-color: $dark-color;
  color: $light-color;
  height: 80vh;

  &-header {
    padding: 2rem;
    text-align: center;

    h1 {
      font-size: 4rem;
      margin: 0.25rem 0 0;
    }

    h3 {
      font-size: 2rem;
      font-weight: lighter;
      margin-top: 0;
      margin-bottom: 3rem;
      color: lighten($color: $secondary-color, $amount: 10%);
    }

    i.fas {
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

.slides {
  color: $light-color;
  height: 80vh;
  margin-top: -20px;

  &-header {
    background-color: $dark-color;
    opacity: 0.6;
    width: 100%;
    height: 97.5%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 4rem;
      margin: 0.25rem 0 0;
    }

    h3 {
      font-size: 2rem;
      font-weight: lighter;
      
      margin-bottom: 3rem;
    }
  }
}

.tapes {
  background: url(../img/tapes.jpg);
}

.cinema {
  background: url(../img/cinema.jpg);
}

.sit {
  background: url(../img/sit.jpg);
}

.relax {
  background: url(../img/relax.jpg);
}


.tapes,
.cinema,
.sit,
.relax {
  background-size: cover;
  background-position: center;
}