.top {
  min-height: 500px;
  background: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  color: $light-color;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow;

  &-header {
    background-color: $dark-color;
    opacity: 0.9;
    margin-left: 600px;
    height: 450px;
    padding: 1.5rem;

    h1 {
      font-size: 3rem;
      margin-top: 0.75rem;
      margin-bottom: 0;
    }

    p {
      font-size: 1.3rem;
    }

    a {
      width: 100px;
      text-align: center;
    }
  }
}

.offer {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  width: 100%;
  text-align: center;
  box-shadow: $shadow;
  
  &-box {
    border-bottom: 1px solid $dark-color;
    padding: 1rem 2rem 2rem;
    height: 35px;

    p {
      opacity: 0;
    }

    a {
      opacity: 0;
    }

    &:hover {
      height: 260px;
      cursor: pointer;
      box-shadow: $shadow;

      h3 {
        color: lighten($color: $dark-color, $amount: 25%);
      }

      p {
        opacity: 1;
      }
  
      a {
        opacity: 1;
      }
    }

    &:nth-child(3) {
      border: none;
    }
  }
}

.middle {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  &-box {
    background-color: $primary-color;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: $shadow;
  }
}

.bottom {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  background-color: $primary-color;
  box-shadow: $shadow;

  img {
    box-shadow: $shadow;
  }

  .btn {
    box-shadow: $shadow;
  }
}

.bottom-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-single {
    background-color: $primary-color;
    width: 29%;
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow;
    
    h4 {
      letter-spacing: 1.5px;
      border-bottom: 1px solid $dark-color;
    }

    .price {
      color: lighten($color: $dark-color, $amount: 10%);
      margin-top: 0;
      font-size: 1.5rem;
    }

    &-b {
      background-color: darken($color: $primary-color, $amount: 10%);
    }

    &-c {
      background-color: darken($color: $primary-color, $amount: 20%);
    }
  }
}

footer {
  background-color: $dark-color;
  color: $light-color;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 2px;
}