.top {
  

  &-header {
    min-height: 500px;
    background: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    color: $light-color;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    
    &-wrapper {
      background-color: $dark-color;
      opacity: 0.7;
      margin-left: 600px;
      height: 450px;
      padding: 1.5rem;

      h1 {
        font-size: 4rem;
        margin-top: 0rem;
        margin-bottom: 0;
      }
  
      p {
        font-size: 1.3rem;
      }
  
      a {
        margin-top: 12rem;
        width: 100px;
        text-align: center;
      }
    }
  }

  &-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-box {
    background-color: $primary-color;
    width: 25%;
    padding: 1.5rem;
    box-shadow: $shadow;

    .price {
      font-size: 1.2rem;
    }
  }
}

.middle {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  &-box {
    background-color: $primary-color;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: $shadow;
  }
}

.bottom {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  background-color: $primary-color;
  box-shadow: $shadow;
}

footer {
  background-color: $dark-color;
  color: $light-color;
  margin-top: 2rem;
  text-align: center;
}