@media (max-width: 1366px) {

  .top {
    max-width: 1100px;

    &-header {
      margin-left: 500px;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  
  .top {
    max-width: 1100px;

    &-header {
      margin-left: 400px;

      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 992px) {

  .nav-top {

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .top {
    max-width: 800px;

    &-header {
      margin-left: 0;
      
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-top {

    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  .top {
    max-width: 600px;
    min-height: 0;

    &-header {

      h1 {
        display: none;
      }

      p {
        display: none;
      }
    }
  }

  .bottom-boxes {
    display: flex;
    flex-direction: column;

    &-single {
      width: 95%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 568px) {
  
  .middle {
    display: flex;
    flex-direction: column;
  }
}