@media (max-width: 1366px) {

  .top {

    &-header {
      margin-left: 500px;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .offer-box:hover {
    height: 280px;   
  }
}

@media (max-width: 1200px) {
  
  .top {

    &-header {
      margin-left: 400px;

      h1 {
        font-size: 2rem;
        margin-top: 0;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  .offer-box:hover {
    height: 290px;   
  }
}

@media (max-width: 992px) {

  .nav-top {

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .top {
    text-align: center;
    padding: 0;
    min-height: 0;

    &-header {
      margin-left: 0;
      height: 100%;
    }
  }

  .offer-box:hover {
    height: 360px;   
  }

  .middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-top {

    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  .top {

    &-header {
      margin-top: 0;
      height: 100%;
    }
  }

  .offer-box:hover {
    height: 410px;   
  }

  .bottom-boxes {
    display: flex;
    flex-direction: column;

    &-single {
      width: 95%;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 568px) {

  .top {

    &-header {

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        font-size: 0.8rem;
        width: 80px;
      }
    }
  }

  .offer-box:hover {
    height: 510px;   
  }
  
  .middle {
    display: flex;
    flex-direction: column;
  }
}