@media (max-width: 1366px) {

  .top {

    &-header {
      margin-left: 500px;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  .offer-box:hover {
    height: 280px;   
  }
}

@media (max-width: 1200px) {
  
  .top {

    &-header {
      margin-left: 400px;

      h1 {
        font-size: 2rem;
        margin-top: 0;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  .offer {
    width: 100%;

    &-full {

      ul {

        li {
          width: 200px;
        }
      }
    }  
  }

  .offer-box:hover {
    height: 290px;   
  }
}

@media (max-width: 992px) {

  .nav-top {

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .top {
    text-align: center;
    padding: 0;
    min-height: 0;

    &-header {
      margin-left: 0;
      height: 100%;
    }
  }

  .offer {

    &-full {

      .maximum-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .offer-box:hover {
    height: 360px;   
  }

  .buy {

    &-form {

      &-names {
        width: 100%;
        margin-right: 1.5rem;

        input {
          width: 25%;
        }
      }

      &-adress {
        flex-direction: column;

        input {
          width: 100%;
        }
      }

      &-payment {
        flex-direction: column;

        select {
          width: 80%;
        }

        input {
          width: 80%;
        }
      }
    }
  }

  .middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom {
    display: flex;
    flex-direction: column;
    
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-boxes {
      display: flex;
      flex-direction: column;
      
      &-single {
        width: 90%;
      }
    }  
  }

  .about {

    &-header {

      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-top {

    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  .top {

    &-header {
      margin-top: 0;
      height: 100%;
    }
  }

  .offer {

    &-full {

      ul {

        li {
          width: 50%;
        }
      }

      .premium-list,
      .maximum-list {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .offer-box:hover {
    height: 410px;   
  }

  .buy {

    &-header {
      margin: auto;

      h3 {
        border: none;
      }

      .price {
        border: none;
        font-size: 1.2rem;
      }
    }

    &-form {

      &-names {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        input {
          width: 60%;
        }
      }

      &-adress {
        width: 100%;

        input {
          width: 60%;
        }

        .part-1 {
          flex-direction: column;
        }

        .part-2 {
          flex-direction: column;
        }
      }

      &-payment {
        width: 100%;

        select {
          width: 60%;
        }

        input {
          width: 60%;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  #contact {
    font-size: 1.8rem;
  }

  .contact {
    margin-top: 10rem;
    padding-bottom: 16rem;

    .adress {
      margin-top: 6rem;
    }

    i.fas {
      margin-top: 2rem;
    }

    .form {

      h3 {
        margin: 3rem 0;
      }

      p {
        margin-top: 3rem;
      }
    }
  }

  .about {
    height: auto;

    &-header {

      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1rem;
      }

      i.fas {
        font-size: 5rem;
      }
    }
  }

  .slides {

    &-header {

      h1 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .bottom {

    &-wrapper {

      span {
        margin-bottom: -3rem;
      }

      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 568px) {

  .top {

    &-header {

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        font-size: 0.8rem;
        width: 80px;
      }
    }
  }

  .offer-box:hover {
    height: 510px;   
  }
  
  .middle {
    display: flex;
    flex-direction: column;
  }

  .slides {

    &-header {

      h1 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1rem;
      }
    }
  }

  .bottom {

    &-wrapper {

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}